/*
* NORMALIZER
*/
h1, h2, h3, h4, h5, h6, a, .panel-default>.panel-heading, .fa, .navbar-default .navbar-brand,.ui-group-buttons .glyphicon, .navbar .glyphicon{color: #FFF;}

::selection { background-color: #E13300; color: white; }
::-moz-selection { background-color: #E13300; color: white;}
.bad-scripts a {color: #3B33C3;background-color: transparent;font-family: 'Bad Script', cursive, normal Helvetica, Arial, sans-serif;font-weight: normal;}
.pagination a{font-family: normal Helvetica, Arial, sans-serif;font-weight: normal;}
.pagination .current_page{text-decoration: underline;font-weight: bold;color: red;}
.pages-number {font-size: 20px; margin: 10px 0 0 6px;}
.sub-td a{color:#FFF;}
h1 {color: #3B0DC3;background-color: transparent;border-bottom: 1px solid #D0D0D0; font-family: 'MedievalSharp', cursive; font-size: 34px;font-weight: normal;margin: 0 0 14px 0;}
code {font-family: 'Consolas', Monaco, Courier New, Courier, monospace;font-size: 12px;background-color: #f9f9f9;border: 1px solid #D0D0D0;color: #002166;display: block;margin: 14px 0 14px 0;padding: 12px 10px 12px 10px;}
p.footer {text-align: right; font-size: 12px; border-top: 1px solid #D0D0D0;line-height: 32px;padding: 0 10px 0 10px;margin: 20px 0 0 0;}
html{background: url(../img/war.jpg) no-repeat;background-size: cover;}
body{font: 16px/20px 'MedievalSharp', cursive, normal Helvetica, Arial, sans-serif;color: #4F5155;}
html, body{margin: 0;padding: 0;background-color: transparent;min-height: 100%;}
legend{padding: 4px;}
input[type='submit']{background: rgba(255,255,255,.0); border: none;}
textarea{height: 140px !important;}
th{background-color: rgba(255,255,255,.8);}
img{margin: 0 auto;}

/*
* Styles
*/

#body p{color:#2C0F63;text-shadow: 1px 1px 4px #C5A354;padding: 0 26px;font-size: 16px;}
#container{background: rgba(255,255,255,0.4);border: 0px solid #f1f1f1;}
#content{min-height: 100vh;position: relative;padding-right: 0px;padding-left: 0px;}
#link_personagem{background: url("../img/warrior_pixel.png") no-repeat;background-size: 40px;height: 40px;background-position: 0px 0;padding: 10px;text-align: center;}
.sub-td{padding-left: 40px !important;border-bottom: 1px solid #ddd !important;}
.navbar{background-color: rgba(10,10,40,0.8); height: auto; margin-bottom: 0px;padding-top: 10px;}
.table{margin-bottom: 0;}
.table td big{cursor: pointer; color: #337AB7; text-decoration: underline;}

.h1,.h2,.h3,.h4,.h5,.h6{margin: 6px 12px;}
.ui-group-buttons .or{position:relative;float:left;width:.3em;height:1.3em;z-index:3;font-size:12px}
.ui-group-buttons .or:before{position:absolute;top:50%;left:50%;content:'or';background-color:#5a5a5a;margin-top:-.1em;margin-left:-.9em;width:1.8em;height:1.8em;line-height:1.55;color:#fff;font-style:normal;font-weight:400;text-align:center;border-radius:500px;-webkit-box-shadow:0 0 0 1px rgba(0,0,0,0.1);box-shadow:0 0 0 1px rgba(0,0,0,0.1);-webkit-box-sizing:border-box;-moz-box-sizing:border-box;-ms-box-sizing:border-box;box-sizing:border-box;}
.ui-group-buttons .or:after{position:absolute;top:0;left:0;content:' ';width:.3em;height:2.84em;background-color:rgba(0,0,0,0);border-top:.6em solid #5a5a5a;border-bottom:.6em solid #5a5a5a;}
.ui-group-buttons .or.or-lg{height:1.3em;font-size:16px;}
.ui-group-buttons .or.or-lg:after{height:2.85em;}
.ui-group-buttons .or.or-sm{height:1em;}
.ui-group-buttons .or.or-sm:after{height:2.5em;}
.ui-group-buttons .or.or-xs{height:.25em;}
.ui-group-buttons .or.or-xs:after{height:1.84em;z-index:-1000;}
.ui-group-buttons{display:inline-block;vertical-align:middle;width: 90px;}
.ui-group-buttons:after{content:".";display:block;height:0;clear:both;visibility:hidden;}
.ui-group-buttons .btn{float:left;border-radius:0;}
.ui-group-buttons .btn:first-child{margin-left:0;border-top-left-radius:.25em;border-bottom-left-radius:.25em;padding-right:15px;}
.ui-group-buttons .btn:last-child{border-top-right-radius:.25em;border-bottom-right-radius:.25em;padding-left:15px;}

.painel-create{background-color: rgba(255,255,255,0.8);}
.panel{margin-bottom:29px;background: none; border:none;}
.panel-body{padding: 0px;}
.navbar .panel-default>.panel-heading{background: none !important; border-bottom: 1px solid #aaa;}
.panel-default>.panel-heading{background: rgba(255,255,255,0.8); border-bottom: 1px solid #aaa;}
.panel-group{background: none; padding: 10px; margin-top:10px;}
.panel-footer{background-color: rgba(255,255,255,.8);}
.well{background-color: rgba(255,255,255,.4); margin-bottom: 0px;}
.table-striped>tbody>tr:nth-of-type(odd) {background-color: rgba(255,255,255,0.7);}
.table-striped>tbody>tr:nth-of-type(even) {background-color: rgba(210,210,210,0.7);}
.table-striped>tbody a, .table-striped>thead a, .table-striped>thead em {color:#3B0DC3;}
footer{border: 1px solid transparent;border-radius: 4px;border-color: #ddd; position: absolute; bottom: -13px; width: 100%;background: hsl(248,22%,21%);}
footer a{color: aliceblue}

.bar-chart {
    position: relative;
    width: 100%;
    margin-top: 15px;
}

.bar-chart > .legend {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 40px;
    margin-bottom: -45px;
    border-top: 1px solid #000;
}

.bar-chart > .legend > .item {
    position: relative;
    display: inline-block;
    float: left;
    width: 25%;
}

.bar-chart > .legend > .item:before {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    content: '';
    width: 1px;
    height: 8px;
    background-color: #000;
    margin-top: -8px;
}

.bar-chart > .legend > .item.text-right:before {
    right: 0;
    left: auto;
}

.bar-chart > .legend > .item h4 {
    font-size: 13px;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.bar-chart > .chart {
    position: relative;
    width: 100%;
}

.bar-chart > .chart > .item {
    position: relative;
    width: 100%;
    height: 40px;
    margin-bottom: 10px;
    color: #fff;
    text-transform: uppercase;
}

.bar-chart > .chart > .item > .bar {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #ff4081;
    z-index: 5;
}

.bar-chart > .chart > .item > .bar > .percent {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    height: 40px;
    line-height: 40px;
    padding-right: 12px;
    z-index: 15;
}

.bar-chart > .chart > .item > .bar > .item-progress {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    background-color: #3e50b4;
    z-index: 10;
}

.bar-chart > .chart > .item > .bar > .item-progress > .title {
    display: block;
    position: absolute;
    height: 40px;
    line-height: 40px;
    padding-left: 12px;
    letter-spacing: 2px;
    z-index: 15;
}








@media (max-width: 480px){
	.container {
	    width: 100% !important;
	}
}