/*
* NORMALIZER
*/
html{
	background: url(../img/war.jpg) no-repeat;
    background-size: cover;
}
body{
	background: rgba(255,255,255,0.4) !important;
}
html, body{
	margin: 0;
	padding: 0;
}
legend{
	padding: 4px;
}
input[type='submit']{
	background: rgba(255,255,255,.0);
    border: none;
}
textarea{
	height: 140px !important;
}
.table{
	margin-bottom: 0;
}
.h1,.h2,.h3,.h4,.h5,.h6{
	margin: 6px 12px;
}
#link_personagem{
	background: url(../img/warrior_pixel.png) no-repeat;
	background-size: 40px;
	height: 40px;
	background-position: 0px 0;
	padding: 10px;
	text-align: center;
}